
{{>layout/header}}

<style> <!-- CSS 시작 -->

</style> <!-- CSS 끝 -->

<div id="board_main_wrap" > <!-- index_wrap 시작 -->
    <h1>Hello Board!</h1>
</div> <!-- index_wrap 끝 -->

<!-- script 시작 -->
<script type="text/javascript">

</script> <!-- script 끝 -->
{{>layout/footer}}