
 {{>layout/header}}
 <style>
     .index_height_1 {
         height: 40px;
     }

     .contents_box {
         width: 300px;
         height: 230px;
     }
 </style>

 <div id="index_wrap" class="common_wrap"> <!-- index_wrap 시작 -->
    <div class="contents_box contents_center"> <!-- contents_box 시작 -->

        <div class="index_height_1" style="text-align: center; padding: 5px; text-align: center; box-sizing: border-box;">
            <span style="font-size: 1.3rem">송파 코딩 온/오프 스터디!</span>
        </div>

        <div class="input-group mb-3 index_height_1">
            <span class="input-group-text">아이디</span>
            <input id="userId" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3 index_height_1">
            <span class="input-group-text" id="inputGroup-sizing-default">비밀번호</span>
            <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="index_triple_height index_height_1" style="text-align: center">
            <div style="display: inline-block;">
                <button onclick="moveSignUp()" type="button" class="btn btn-primary">회원가입</button>
            </div>
            <div style="display: inline-block;">
                <button type="button" class="btn btn-success">로그인</button>
            </div>
        </div>

    </div> <!-- contents_box 끝 -->
 </div> <!-- index_wrap 끝 -->

 <!-- script 시작 -->
 <script type="text/javascript">

     // 아이디 중복 체크(기능)
     function index_duplicate_check() {

        let userId = document.getElementById("userId").value;
        let obj = {};
        obj["userid"] = userId;

        $.ajax({
            type : "POST",
            contentType : "application/json",
            url : "/welcome/check",
            data : JSON.stringify(obj),
            dataType : "json",
            cache : false,
            timeout : 600000,
            success : function (data) {
                console.log("succ2 : ", data);
            },
            error : function (e) {
                console.log("failed : ", e);
            }
        });

     } // 아이디 중복 체크 종료


     // 회원가입 페이지 이동(페이지 이동)
     function moveSignUp() {
        window.location.href = "/signup";
     } // 회원가입 페이지 이동 종료


 </script> <!-- script 끝 -->
 {{>layout/footer}}