
 {{>layout/header}}

 <style> <!-- CSS 시작 -->
     .index_height_1 {
         height: 40px;
     }

     .contents_box {
         width: 300px;
         height: 230px;
     }
 </style> <!-- CSS 끝 -->

 <div id="index_wrap" class="common_wrap"> <!-- index_wrap 시작 -->
    <div class="contents_box contents_center"> <!-- contents_box 시작 -->

        <div class="index_height_1" style="text-align: center; padding: 5px; text-align: center; box-sizing: border-box;">
            <span style="font-size: 1.3rem">송파 코딩 온/오프 스터디!</span>
        </div>

        <div class="input-group mb-3 index_height_1">
            <span class="input-group-text">아이디</span>
            <input id="userId" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3 index_height_1">
            <span class="input-group-text" id="inputGroup-sizing-default">비밀번호</span>
            <input id="userPw" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="index_triple_height index_height_1" style="text-align: center">
            <div style="display: inline-block;">
                <button onclick="movePage('/signup')" type="button" class="btn btn-primary">회원가입</button>
            </div>
            <div style="display: inline-block;">
                <button onclick="login()" type="button" class="btn btn-success">로그인</button>
            </div>
        </div>

    </div> <!-- contents_box 끝 -->
 </div> <!-- index_wrap 끝 -->

 <!-- script 시작 -->
 <script type="text/javascript">

     // 로그인 (기능)
     function login() {

         // 1. 공백 필터링
         let userId = document.getElementById("userId").value;
         let userPw = document.getElementById("userPw").value;

         console.log("abc : ", userId, userPw);

         // 2. api요청
         let obj = {};
         obj["userid"]   = userId;
         obj["userpw"]   = userPw;

         $.ajax({
             type : "POST",
             contentType : "application/json",
             url : "/login-info/v1/login",
             data : JSON.stringify(obj),
             dataType : "json",
             cache : false,
             timeout : 600000,
             success : function (data) {
                 console.log("login - succ2 : ", data);
                 movePage("/board/main");
             },
             error : function (e) {
                 console.log("login - failed : ", e);
             }
         });

     } // 로그인 종료

 </script> <!-- script 끝 -->
 {{>layout/footer}}